/* Sector universal */

*{

    padding: 0 auto;
    margin: 0 auto;

}

/* */

#contenedor{

    width: 1200px;
    height: 1000px;
    background-color: blueviolet;
    max-width: 0 auto;

}

#encabezado{

    height: 15%;
    background-color: rgb(28, 192, 22);
    margin: 1em auto;

}

#menu{

    height: 5%;
    background-color: tomato;
    margin: 1em auto;

}

#contenido{

    height: 70%;
    width: 61%;
    background-color: brown;
    margin: 0.5em;
    float: left;

}

#fueraSeccion{

    height: 70%;
    width: 36%;
    background-color: blue;
    margin: 0.5em;
    float: right;

}

#pie {

    height: 5%;
    background-color: hotpink;
    border-radius: 1em;
    margin: 1.5 em;

}

/* Selector de clase */

.texto{

    text-align: justify;
    font-family: 'Segoe UI';
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}

.encabezado_articulo{

    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
    margin-top: 30px;

}

.imagenes{

    display: block;
    border: 1px solid #ddd;
    margin-left: 33%;
    width: 250px;

}

/* Selector de etiqueta */

ul{

    text-align: center;

}

li{

    display: inline;
    padding-left: 6px;
    padding-right: 6px;


}



